body{
    font-family: Overpass;
    font-size: 16px;
    background-image: linear-gradient(#DDFFF7,#FDF7FA);
}
table{
    border-collapse: separate;
    border-spacing: 0 15px;
    
}

th{
    text-align: center;
}
td{
    border-collapse: separate;
    text-align: center;
    width : 10px;
}

#edu{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 16px;
    background-image: linear-gradient(#FDF7FA,#DDFFF7);
}
#about
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5%;
    background-image: linear-gradient(#DDFFF7,#FDF7FA);
}

#career{
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F6FFF8;
}

#skills{
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(#DDFFF7,#FCFAFA);
}

#Interests{
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(#DDFFF7,#FDF7FA);
}

#Qualities{
    margin-left: 100px;
    margin-right: 100px;
    background-image: linear-gradient(#FCFAFA,#DDFFF7);
}